<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.donateforcorona">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.donateforcorona.ShowDonReq"></activity>
        <activity android:name="com.example.donateforcorona.AddDonReq" />
        <activity android:name="com.example.donateforcorona.CoronaInfo" />
        <activity android:name="com.example.donateforcorona.DonationRequests" />
        <activity android:name="com.example.donateforcorona.Donation" />
        <activity android:name="com.example.donateforcorona.ResetPassActivity" />
        <activity android:name="com.example.donateforcorona.valuedactivity" />
        <activity android:name="com.example.donateforcorona.SignUp" />
        <activity android:name="com.example.donateforcorona.LoginActiivity" />
        <activity android:name="com.example.donateforcorona.OnBoardingScreen" />
        <activity android:name="com.example.donateforcorona.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.donateforcorona.MapsActivity"
            android:label="Map">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC5FA454jSA6jNJL8r47LOXctnq8IKst4k" />

        <receiver
            android:name="com.example.donateforcorona.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

</manifest>